.who-are-we {
  background: linear-gradient(154deg,#53d5f3,#29abe2);
  color: white;
  margin: 0px -12px;
  padding: 80px 0px;
  header {
    padding: 0px 0px 60px 0px;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    grid-gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
    img {
      border-radius: 100%;
    }
  }
  .additional-info {
    margin: 20px 0px 10px;
    font-weight: 500;
    .name {
      font-size: 21px;
    }
    .role {
      margin: 10px 0px;
    }

    .social-icon {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      background-color: #fff;
      display: inline-block;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 10px;
      margin-left: 10px;
      cursor: pointer;
      &.gh {
        background-image: url(/images/gh.png);
      }
      &.li {
        background-size: 65% 65%;
        background-image: url(/images/li.png);
      }
      &.dribbble {
        background-size: 90% 90%;
        background-image: url(/images/dribbble.png);
      }
    }
  }
}
