$white-color: #fff;
$black-color: #333;
$gray-color: #9b9b9b;
$light-gray-color: #9b9b9b;
$blue-color: #27afe3;
$red-color: #F16765;

// Screen sizes
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
