---
title: Warp
---

<main class="index-page">
  <section class="need-help">
    <div class="time-to-get-warped">Need help with your digital experience? <br> It's time to get warped.</div>
    <a class="btn red-btn" href="#warp-speed">Reach out</a>
  </section>

  <section class="how-can-we-help">
    <header id="what">How can we help?</header>
    <div class="card-container">
      <div class="card">
        <img class="design"
             srcset="images/design.png,
                     images/design@2x.png 2x,
                     images/design@3x.png 3x"
             src="images/design.png" alt="design">
        <div>Design</div>
      </div>
      <div class="card">
        <img class="user-research"
             srcset="images/user-research.png,
                     images/user-research@2x.png 2x,
                     images/user-research@3x.png 3x"
             src="images/user-research.png" alt="user research">
        <div>User Research</div>
      </div>
      <div class="card">
        <img class="product-strategy"
             srcset="images/product-strategy.png,
                     images/product-strategy@2x.png 2x,
                     images/product-strategy@3x.png 3x"
             src="images/product-strategy.png" alt="product strategy">
        <div>Product Strategy</div>
      </div>
    </div>

    <p class="shapeless-blurb">
      "Empty your mind. Be formless, shapeless - like water." At warp, we can adapt to your needs whether you are still working off your cocktail napkin sketch or in the final stages of development. We would be happy to take the lead or augment your team.
    </p>
  </section>

  <section id="who" class="who-are-we">
    <header>Who are we?</header>
    <div class="image-container">
      <div>
        <img class="rj-img"
             srcset="images/rj.jpg,
                     images/rj@2x.jpg 2x,
                     images/rj@3x.jpg 3x"
             src="images/rj.jpg" alt="RJ Cox">
         <div class="additional-info">
           <div class="name">Raymond Cox</div>
           <div class="role">Full-Stack Developer</div>
           <a href="https://www.linkedin.com/in/raymond-cox-4a561342/" class="social-icon li"></a>
           <a href="https://www.github.com/raymondjcox/" class="social-icon gh"></a>
         </div>
      </div>
      <div>
        <img class="alex-img"
             srcset="images/alex.png,
                     images/alex@2x.png 2x,
                     images/alex@3x.png 3x"
             src="images/alex.png" alt="Alex Smith">
         <div class="additional-info">
           <div class="name">Alex Smith</div>
           <div class="role">UX/UI &amp; Visual Designer</div>
           <a href="https://www.linkedin.com/in/alex-smith-72a99249/" class="social-icon li"></a>
           <a href="https://dribbble.com/ReallyAlexSmith" class="social-icon dribbble"></a>
         </div>
      </div>
      <div>
        <img class="will-img"
             srcset="images/will.png,
                     images/will@2x.png 2x,
                     images/will@3x.png 3x"
             src="images/alex.png" alt="Will Chu">
       <div class="additional-info">
         <div class="name">Will Chu</div>
         <div class="role">Product Management &amp; Strategy</div>
         <a href="https://www.linkedin.com/in/william-chu-a443244/" class="social-icon li"></a>
       </div>
      </div>
    </div>
  </section>

  <section id="warp-speed" class="warp-speed">
    <header>Ready to go warp speed?</header>
    <form action="#" onsubmit="submitForm(); return false;">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="email" name="email" id="email" placeholder="Email">
      <textarea id="message" name="message" id="message" placeholder="Tell us about you!"></textarea>
      <button type="submit" class="btn red-btn">Send</button>
    </form>
  </section>
</main>
